.spotify-login-button {
    /* Basic button styling */
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    /* background-color: #1DB954;  */
    background-color: black; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

    /* Remove link underline */
    text-decoration: none;

    /* Add a hover effect */
    transition: background-color 0.3s ease;
}

.spotify-login-button:hover {
    background-color: #1ED760;
}