.search {
  padding: 14px 20px;
  height: 100%;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid var(--color-black);
  width: 502px;
}

.wrapper {
  display: flex;
  align-items: stretch;
  height: 48px;
}

.searchButton {
  border-radius: 0px 8px 8px 0px;
  padding: 14px 20px;
  height: 100%;
  border: 1px solid var(--color-black);
  border-left: none;
  cursor: pointer;
  height: 100%;
}

.listElement {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.albumTitle {
  font-size: 16px;
}

.albumArtists {
  font-size: 12px;
}


/* .searchBar input::placeholder {
  transform: translateX(4rem);
 
  font-size: 0.8rem;
  color: gray;
} */
/*not a valid css rule */



input::placeholder {
  padding-left: 1rem;
  font-size: 0.8rem;
  color: gray;
}

.searchBar {
  width: 30rem !important;
  height: 100%;
  border-width: 0.1rem 0.05rem 0.1rem 0.1rem !important;
  /* top, right, bottom, left */
  border-style: solid !important;
  border-color: black !important;
  border-radius: 0.375rem 0rem 0rem 0.375rem !important;
}